In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("digital-school-analysis") \
    .config("spark.sql.execution.arrow.pyspark.enabled", "true")\
    .getOrCreate()

In [7]:
from pyspark.sql.types import TimestampType
from pyspark.sql.functions import col

In [8]:
def load_profile_information(path)
    profiles = spark.read.load(path,
                         format="csv", sep=",", inferSchema="true", 
                         header="true")\
        .withColumn("updated_at", col("updated_at").cast(TimestampType()))
    return profiles

def load_educational_institution(path):
    institutions = spark.read.load(path,
                     format="csv", sep=",", inferSchema="true", 
                     header="true")
    
def load__structure(path):

In [ ]:
profiles = load_profile_information("data/db_data/profile_educational_institution_16.11.csv")
institutions = load_educational_institution("data/db_data/educational_institution_16.11.csv")

In [9]:
profiles.limit(10).toPandas()

,profile_id,educational_institution_id,approved_status,role,updated_at,approval_date,is_deleted
0,50b74f05-1de0-473e-a1ad-607a34c54648,d6d13693-47c3-4c2f-a661-6fd7605322e8,APPROVED,TEACHER,2021-11-26 02:24:22.128169,None,f
1,4dccc153-449c-4eb2-afab-c432e61c3561,959129d9-0a81-4310-b357-30663130f3ee,NONE,STUDENT,2021-12-10 16:18:48.191804,None,f
2,526fbfa8-bf75-491c-a8ba-3e4bacf70eb5,904c4a76-49e2-425e-8b9d-4f4409df8fa3,NONE,STUDENT,2021-11-16 16:53:51.423907,None,f
3,bccfe171-f5c7-42ed-a577-eecf699f27fb,a45334fe-ca4c-44bf-b7a3-f47b802405de,NONE,INSTITUTE,2021-11-08 22:17:40.051477,None,f
4,e27fc3f8-b4b3-4db1-b03b-8bac8d881b86,34b1243a-a935-4cf4-b5a5-045932ddf99e,NONE,STUDENT,2021-12-08 07:27:55.712166,None,f
5,3d12e3ec-c617-4193-b18d-3362975bb6ae,624431e8-0579-4eae-92d0-279380e2dbe3,NONE,STUDENT,2021-12-13 13:31:28.444155,None,f
6,1fdfde57-3c8b-4c18-bb2b-ec05e251f0aa,11189882-1888-4bdd-b9f7-11f8a868d9e0,APPROVED,STUDENT,2021-12-05 09:45:37.767847,None,f
7,f9f67888-6e4c-4fbc-ad02-a51710bd39c9,c3108226-1d0d-49c7-ac93-b81618822d15,NONE,STUDENT,2021-10-28 12:36:16.391606,None,f
8,3d8ce11d-8cdb-45e7-9ad9-50a1f9f5fcd4,5f5f9b37-ba47-4760-9167-5d6fd5a6be97,APPROVED,TEACHER,2021-11-25 11:46:52.651019,None,f
9,7d67c988-ad63-4322-b655-f1b02aa8cd49,0c796b1e-07d2-47f5-8452-9cfd68708eae,NONE,STUDENT,2021-11-26 14:17:16.949966,None,f

In [5]:
profiles.select("profile_id","role").limit(10).toPandas()

                             profile_id       role
0  50b74f05-1de0-473e-a1ad-607a34c54648    TEACHER
1  4dccc153-449c-4eb2-afab-c432e61c3561    STUDENT
2  526fbfa8-bf75-491c-a8ba-3e4bacf70eb5    STUDENT
3  bccfe171-f5c7-42ed-a577-eecf699f27fb  INSTITUTE
4  e27fc3f8-b4b3-4db1-b03b-8bac8d881b86    STUDENT
5  3d12e3ec-c617-4193-b18d-3362975bb6ae    STUDENT
6  1fdfde57-3c8b-4c18-bb2b-ec05e251f0aa    STUDENT
7  f9f67888-6e4c-4fbc-ad02-a51710bd39c9    STUDENT
8  3d8ce11d-8cdb-45e7-9ad9-50a1f9f5fcd4    TEACHER
9  7d67c988-ad63-4322-b655-f1b02aa8cd49    STUDENT

In [16]:
def load_course_statistics_type(path):
    statistics_type = spark.read.load(path,
                         format="csv", sep=",", inferSchema="true", 
                         header="true")\
        .withColumn("updated_at", col("updated_at").cast(TimestampType()))
    statistics_type.createOrReplaceTempView("statistics_type")
    return statistics_type

def load_course_statistics(path):
    course_statistics = spark.read.load(path,
                         format="csv", sep=",", inferSchema="true", 
                         header="true")\
        .withColumn("updated_at", col("updated_at").cast(TimestampType()))
    course_statistics.createOrReplaceTempView("course_statistics")
    return course_statistics

statistics = load_course_statistics("/Users/LTV/Documents/school/code/data/db_data/educational_course_statistic_16.11.csv")
statistics_type = load_course_statistics_type("/Users/LTV/Documents/school/code/data/db_data/statistic_type_16.11.csv")

In [15]:
statistics.limit(10).toPandas()
statistics_type.limit(10).toPandas()

,id,type_name,type,entity_id,created_at,updated_at
0,1ad6841e-2e64-4720-852c-fa2ad2fd5714,login,"время входа в образовательную платформу, фикси...",0,None,NaT
1,8e4870de-468e-4bfa-9867-daa609693b49,logout,"время выхода из образовательной платформы, фик...",1,None,NaT
2,ab201fae-44b7-4d4c-95f2-50bd0a0c1cb7,started_studying,время начала изучения учебного материала в Сис...,2,None,NaT
3,4f6c88b8-2131-4948-bd3c-b34e3d491171,stopped_studying,время выхода из изучения учебного материала в ...,3,None,NaT

In [19]:
statistics.printSchema()

root
 |-- id: string (nullable = true)
 |-- profile_id: string (nullable = true)
 |-- statistic_type_id: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- status: string (nullable = true)
 |-- educational_course_id: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)

In [97]:
spark.sql(
    """
    with statistics as (
        SELECT 
        profile_id, statistics_type.entity_id as stat_type, 
        course_statistics.created_at as created_at, educational_course_id
        FROM course_statistics
        JOIN statistics_type on course_statistics.statistic_type_id = statistics_type.id
        WHERE profile_id IS NOT NULL and educational_course_id IS NOT NULL and (entity_id = 2 or entity_id = 3)
        LIMIT 1000
    ),
    statistics_ends_labeled as (
        SELECT
        profile_id, educational_course_id, stat_type,
        IF(
            LAG(educational_course_id, 1, NULL) OVER (
                ORDER BY profile_id, educational_course_id, created_at
            ) != educational_course_id, created_at, NULL
        ) as start,
        IF(
            LEAD(educational_course_id, 1, NULL) OVER (
                ORDER BY profile_id, educational_course_id, created_at
            ) != educational_course_id, created_at, NULL
        ) as end,
        created_at
        FROM statistics
    ),
    session_duration as (
        SELECT 
        profile_id, educational_course_id, MIN(start) as started_at, MAX(END) as ended_at
        FROM
        statistics_ends_labeled
        GROUP BY profile_id, educational_course_id
    ) 
    SELECT * FROM session_duration WHERE started_at IS NOT NULL and ended_at IS NOT NULL
    """
).limit(30).toPandas()

,profile_id,educational_course_id,started_at,ended_at
0,0127d1cb-f000-41eb-9db5-fa123e6906dc,d41dff81-b67a-4873-aedd-dc4295b4d24c,2021-10-07 17:41:16,2021-10-07 17:41:16
1,01fba502-d7b0-4a30-9b96-e840b738eb59,f390dc9f-7269-4dff-821c-e8809dcd5bda,2021-10-07 19:21:54,2021-10-07 19:21:54
2,02157004-e3c5-40c9-9803-7b29a32aa31b,12649b13-e93a-4a8e-96e9-8d41ec563d8a,2021-09-30 19:08:39,2021-09-30 19:08:40
3,02157004-e3c5-40c9-9803-7b29a32aa31b,d611d497-5c5c-4927-9174-645402aa6c5d,2021-09-30 16:14:54,2021-09-30 16:14:56
4,0272902d-9af4-4099-bd8b-145500a61fc2,02291ed4-5033-448f-adad-4f53159d8e40,2021-10-07 23:02:10,2021-10-07 23:04:37
5,0272902d-9af4-4099-bd8b-145500a61fc2,2d66d096-c8bf-4609-add3-ccad8087372b,2021-10-07 22:52:02,2021-10-07 22:52:02
6,0272902d-9af4-4099-bd8b-145500a61fc2,a36fab01-c43a-4a49-aa12-14f55484e6e4,2021-10-07 22:34:48,2021-10-07 22:34:48
7,0272902d-9af4-4099-bd8b-145500a61fc2,eeaee8b9-cc37-415d-a582-1fa032415224,2021-10-07 22:44:33,2021-10-07 22:44:33
8,028ec353-81e9-457f-8a94-cd5688ace676,5254d02c-cb76-4a90-bafb-c37d0db65035,2021-10-07 21:34:50,2021-10-07 21:34:50
9,02fdd3e6-bae1-41fa-a061-a1bab82cc359,027e8415-1cd3-4e35-ab88-70f957ba2320,2021-10-07 20:29:24,2021-10-07 20:29:24
10,02fdd3e6-bae1-41fa-a061-a1bab82cc359,ac7c9f66-f881-4765-9718-0d73e01d303c,2021-10-07 20:25:40,2021-10-07 20:25:40
11,02fdd3e6-bae1-41fa-a061-a1bab82cc359,ee9d008e-aefc-40c1-908d-58e5576ec5ca,2021-10-07 20:28:04,2021-10-07 20:28:04
12,04ffb73d-2436-425f-a3b2-0356494f1a16,698cc649-77f0-4e28-9f51-bd43cc0e8437,2021-10-06 23:18:22,2021-10-06 23:18:22
13,04ffb73d-2436-425f-a3b2-0356494f1a16,769a2fba-753c-4127-b29f-4f7076b737ef,2021-10-06 22:35:15,2021-10-06 22:35:15
14,05fc4748-77fb-4f63-81a1-98dc2146024e,1ca74d8c-0f37-48a7-9f52-583583d93764,2021-10-01 16:15:16,2021-10-01 16:15:17
15,05fc4748-77fb-4f63-81a1-98dc2146024e,6cdc9cfb-2837-4447-8891-f7c2ee015e5b,2021-10-01 16:14:52,2021-10-01 16:14:53
16,05fc4748-77fb-4f63-81a1-98dc2146024e,c0c976c7-fb22-4740-a85f-fe13ea7e54f3,2021-10-01 16:15:37,2021-10-01 16:15:37
17,0c55e59e-ffe5-4124-80db-2a50c3e8e865,10dd4d20-a404-4478-9bc6-c669f8cc9a75,2021-10-04 13:49:36,2021-10-04 13:49:36
18,0c55e59e-ffe5-4124-80db-2a50c3e8e865,1a3e2cda-e714-4918-8935-0a2ab9252fc3,2021-10-05 18:11:54,2021-10-05 18:11:54
19,0c55e59e-ffe5-4124-80db-2a50c3e8e865,33ff481b-7886-4b8f-b9b9-4d936ec5c712,2021-10-05 18:21:13,2021-10-05 18:21:13
20,0c55e59e-ffe5-4124-80db-2a50c3e8e865,708d4dc8-432a-4018-89c9-b6e2248e93fc,2021-10-04 13:47:52,2021-10-04 13:47:53
21,0c55e59e-ffe5-4124-80db-2a50c3e8e865,946c833f-c5ec-45bb-9d56-61a3ba892174,2021-10-05 18:20:56,2021-10-05 18:20:56
22,0c55e59e-ffe5-4124-80db-2a50c3e8e865,97de498e-e113-48d2-a583-4d9a286a5b25,2021-10-07 17:36:39,2021-10-07 17:36:39
23,0c55e59e-ffe5-4124-80db-2a50c3e8e865,c9902a94-5ef4-42ea-90d5-1958c55746c0,2021-10-05 18:12:31,2021-10-05 18:12:31
24,0c55e59e-ffe5-4124-80db-2a50c3e8e865,f4d505e2-d05b-470a-ad65-6a57835cde28,2021-10-04 13:50:23,2021-10-04 13:50:23
25,0c55e59e-ffe5-4124-80db-2a50c3e8e865,fc598e57-81fe-4e5c-a189-32816bbbc873,2021-10-05 12:36:13,2021-10-05 18:11:03
26,0d6e22ae-35a4-4366-bef4-51ef14397706,1ca74d8c-0f37-48a7-9f52-583583d93764,2021-10-05 09:15:45,2021-10-05 09:15:45
27,0d6e22ae-35a4-4366-bef4-51ef14397706,c4238cb3-b1fd-4472-b37d-5417fa9e8571,2021-10-05 09:01:51,2021-10-05 09:05:59
28,100744d0-0437-4dc3-b008-b6d134dcb3ac,5254d02c-cb76-4a90-bafb-c37d0db65035,2021-10-07 17:12:03,2021-10-07 17:12:03
29,1413aca6-a6ba-4e21-8b49-d505da7f0184,cafb0d0a-5763-4b35-9030-e38467792e9a,2021-10-06 14:26:04,2021-10-06 14:26:04